[flake8]
extend-ignore = E302, W503
max-line-length = 100
exclude =
    .git,
    .env,
    blck_app/__init__.py,
    app.py,
    .github,
    .dockerignore,
    Dockerfile,
    docker-compose.yml,
    installation.sh,
    README.md,
    virt,
    Caddyfile,
    requirements.txt,