{% extends "partials/head.html"%} {% block navbar %} {% include
"partials/navs/navbar_registered.html" %} {% endblock %} {% block title %}
Dashboard {% endblock %} {% block content %}
<div class="container">
  <div class="dash_nav">{% include "partials/navs/side_nav.html" %}</div>
  <div class="settings_main">
    <div class="settings_title">
      <h1>Account & Security</h1>
      <p>Account and security settings managements.</p>
      <p>
        You can change your password, and manage your account security settings
        here.
      </p>
    </div>
    <div class="settings_content">
      div class="settings_box">
        <h2>Change Password</h2>
        <form method="POST" action="{{ url_for('settings.settings_home') }}">
            <div class="form_group">
                <label for="current_password">Current Password</label>
                <input
                type="password"
                id="current_password"
                name="current_password"
                required
                />
            </div>
            <div class="form_group">
                <label for="new_password">New Password</label>
                <input
                type="password"
                id="new_password"
                name="new_password"
                required
                />
          <div class="form_group
    </div>

    <!-- Add more settings content here -->
  </div>
</div>
{% endblock %}
