<!doctype html>
<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css')}}"
    />
    {% block scripts %}
    {% endblock %}
    <title>{% block title %}BlockWay{% endblock%}</title>
    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      {% block navbar %}{% endblock %}
      <div class="content">{% block content %}{% endblock %}</div>
    </div>
    {% block script2 %} 
    {% endblock %}
  </body>
</html>
