{% extends "partials/head.html"%} {% block navbar %} {% include
"partials/navs/navbar_registered.html" %} {% endblock %} {% block title %}
Dashboard {% endblock %} {% block content %}
<div class="container">
  <div class="dash_nav">{% include "partials/navs/side_nav.html" %}</div>
  <div class="dash_main">
    <div class="dash_title">
      <h1>Threats</h1>
      <p>
        Here you can view the threats detected by the system. You can analyze
        threat details, take necessary actions, and monitor the status of each
        threat.
      </p>
    </div>
    <div class="dash_content">
      <div class="dash_box"></div>
    </div>

    <!-- Add more dashboard content here -->
  </div>
</div>
{% endblock %}
