{% extends "partials/head.html"%} {% block navbar %} {% include
"partials/navs/navbar_unregistered.html" %} {% endblock %} {% block title %}
Welcome {% endblock %} {% block content %}
<div class="home_background">
  <div class="home_box">
    <div class="home_welcome">
      <img
        alt="!BlockWay Logo Goes Here!"
        src="{{url_for('static', filename='images/Logo/Logo1_Small.png')}}"
      />
      <h2>Welcome to BlockWay</h2>
      <h3>The Future of Dynamic Malicious Traffic Filtering</h3>
      <p>
        Blockway is a new open-source solution for cutting malicious and benign
        traffic detection and management.
      </p>
    </div>

    <div class="home_choice">
      <div class="home_column">
        <a href="{{ url_for('views.signin') }}">
          <div class="home_login_choice">
            <h3>Login</h3>
          </div>
        </a>
      </div>

      <div class="home_column">
        <a href="{{ url_for('views.signup') }}">
          <div class="home_login_choice">
            <h3>Register</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="home_features_statement">
    <div class="home_statement">
      <h1>Statement</h1>
      <p>
        <i>
          BlockWay is designed to provide intelligent and accessible network
          protection through lightweight machine learning and real-time traffic
          analysis.
        </i>
      </p>

      <p>
        <i>
          Our goal is to help users detect malicious domains, suspicious
          requests, and unwanted traffic without requiring enterprise-grade
          infrastructure.
        </i>
      </p>
    </div>
    <div class="home_style_line"></div>
    <div class="home_features">
      <div class="home_text">
        <!--
        <h1>Features</h1>

        <p>Lightweight Machine Learning Detection</p>
        <p>Real-time Traffic Monitoring and Filtering</p>
        <p>Customizable Rules, Alerts, and Policies</p>
        <p>Low Resource Usage for Embedded Devices</p>
        <p>Pi-hole Integration Support</p>
        <p>Live Threat Activity Dashboard</p>
        <p>Open-source and Extensible Architecture</p>
      </div>
      -->
        <h1>Features</h1>
        <ul>
          <li>Lightweight Machine Learning Detection</li>
          <li>Automatic Website Reputation Analysis</li>
          <li>Real-time Traffic Monitoring and Filtering</li>
          <li>Customizable Rules, Alerts, and Policies</li>
          <li>Low Resource Usage for Embedded Devices</li>
          <li>Pi-hole Integration Support</li>
          <li>Live Threat Activity Dashboard</li>
          <li>Open-source and Extensible Architecture</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
