{% extends "partials/head.html"%} {% block title %} Signup {% endblock %} {%
block content %}

<div class="signup_box">
  <div class="signup_inputs">
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    <h1>Sign Up</h1>

    <form
      method="POST"
      action="{{ url_for('views.signup') }}"
      class="signup_form"
    >
      <h3>Username</h3>
      <input type="text" name="username" required />

      <h3>
        Password
        <span class="tooltip">
          &#9432;
          <span class="tooltip_text">
            Your password should be at least 10 characters long and contain a
            mix of uppercase letters, lowercase letters, and numbers.
          </span>
        </span>
      </h3>
      <input type="password" name="password" required />

      <h3>
        Confirm Password
        <span class="tooltip">
          &#9432;
          <span class="tooltip_text tooltip_text_bottom">
            Please make sure to enter the same password as above for
            verification.
          </span>
        </span>
      </h3>
      <input type="password" name="confirm_password" required />

      <h3>
        Pihole Address
        <span class="tooltip">
          &#9432;
          <span class="tooltip_text">
            Please enter the URL address of your Pihole Service.
          </span>
        </span>
      </h3>
      <input
        type="text"
        name="address"
        placeholder="E.q. https://192.168.9.10:80"
        class="address_input"
        required
      />

      <div class="signup_btns">
        <a href="{{ url_for('views.signin') }}" class="login_link"
          >Already have an account? Log in</a
        >
        <div class="signup_main_btns">
          <input type="submit" value="Sign Up" class="submit_btn" />
          <a href="{{ url_for('views.home') }}" class="submit_btn cancel_btn"
            >Cancel</a
          >
        </div>
      </div>
    </form>
  </div>
  <div class="signup_message">
    <h1>Welcome!</h1>
  </div>
</div>
{% endblock %}
