/* Defining Custom Variables for Colors */
:root {
  /* Light Theme */
  --background_light: ;
  /* Dark Theme */
  --main_colour: ;
  --nav_colour: #3f37c9;
  --background: #3f37c9;
  --border_color: #274c77;
  --cards: ;
  --text_colour: #ffffff;
  --highlighted_text: ;
  --text_font: ;
  --background_dark: ;
  --background_light: ;
}
/* Defining Body */
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* Navbar Common */

/* Styling for Nav */
.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  display: flex;
  border-bottom: 2px solid var(--background);
  color: var(--text_colour);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 2%;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar .nav_end {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 5px;
}

.nav_end a {
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 10%;
  color: var(--text_colour);
  transition:
    background-color 2s ease,
    color 0.2s ease,
    transform 0.2s ease;
  transition-delay: 0.12s;
}

.nav_end a:hover {
  color: var(--text_colour);
  background-color: var(--background);
  transform: translateY(-1px);
}

/* Navbar (Unregistered) */

/* HOME Page */
.home_background {
  background-image: url("../images/background_image_standard.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_box {
  display: inline-block;
  border: 2px solid var(--border_color);
  height: 80vh;
  width: 40%;
  top: 75px;
  left: 20px;
  color: var(--text_colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_welcome {
  display: flex;
  flex
}

.home_features_statement {
  height: 80vh;
  width: 40%;
  margin-left: 5px;
  color: var(--text_colour);
  border: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_features {
  display: flex;
  justify-content: center;
  align-items: center;
}
