{% extends "partials/head.html"%} {% block navbar %} {% include
"partials/navbar.html" %} {% endblock %} {% block title %} Signin {% endblock %}
{% block content %}
<div class="signin_box">
  <div class="choice_title">
    <h1>Login</h1>
  </div>

  <form method="POST" action="{{ url_for('views.signin') }}">
    <h3>Username</h3>
    <input type="text" name="username" required />
    <h3>Password</h3>
    <input type="password" name="password" required />
    <input type="submit" value="Login" class="submit_button" />
  </form>
</div>
{% endblock %}
